<!DOCTYPE html>
<html>
<head>
	{{head}}

    <link rel="stylesheet" href="/site/css/bootstrap.css"/>
    <link rel="stylesheet" href="/site/css/datepicker.css"/>
    <link rel="stylesheet" href="/site/css/responsiveslides.css"/>

    <script type="text/javascript" src="/site/js/raphael-min.js"></script>
    <script type="text/javascript" src="/site/js/responsiveslides.min.js"></script>
    <script type="text/javascript" src="/site/js/pie.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script type="text/javascript" src="https://rawgithub.com/dennykwon/infohub/entries/js/entryctr.js"></script>

    <script type="text/javascript" src="/site/js/bootstrap-datepicker.js"></script>
</head>


<body style="background:#f9f9f9">

<div id="wrapper" ng-app="EntryPage" ng-controller="EntryController" ng-init="init();">
	{{header}}

    <div class="layout-2cols">
        <div class="content grid_8">
            <div class="project-detail">
                <h2 class="rs project-title">Entry</h2>
                <div class="project-short big-thumb">

                    <div id="sessionscontent" class="top-project-info">
                        <h3>Current Entry</h3>
                        <div>
                            <div class="img" align="left">
                                <div class="img-edit">
                                    +
                                </div>
                                <img src="http://placehold.it/300x300">
                            </div>
                            <form style="margin-top:10px" role="form">
                                <div class="form-group">
                                  <span>Title</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.title" placeholder="Title">
                                </div>
                                <div class="form-group">
                                  <span>Subtitle</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.subtitle" placeholder="Subtitle">
                                </div>
                                <div class="form-group">
                                  <span>Date</span>
                                  <input ng-change="dateSelected();" type="text" class="inputs form-control datepicker" id="datePicker" ng-model="editEntry.date" data-date-format="mm/dd/yyyy" placeholder="01/01/2013" bs-datepicker>
                                </div>
                                <div class="form-group">
                                  <span>Link</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.url" placeholder="http://www.example.com">
                                </div>
                                <div class="form-group">
                                  <span>Description</span>
                                  <textarea class="textareas form-control" ng-model="editEntry.description" placeholder="Description" rows="6"></textarea>
                                </div>
                                <div class="form-group">
                                  <span>Theme Color Primary</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.theme-color-primary" placeholder="#000000">
                                </div>
                                <div class="form-group">
                                  <span>Theme Color Secondary</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.theme-color-secondary" placeholder="#FFFFFF">
                                </div>
                                <div class="form-group">
                                  <span>Banner</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.banner.ad" placeholder="Ad">
                                  <input type="text" class="inputs form-control" ng-model="editEntry.banner.image" placeholder="Image">
                                </div>
                                <div class="form-group">
                                  <span>Geolocation Coordinates</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.x" placeholder="Latitude">
                                  <input type="text" class="inputs form-control" ng-model="editEntry.y" placeholder="Longitude">
                                </div>
                                <div class="form-group">
                                  <span>Button</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.button.text" placeholder="Text">
                                  <input type="text" class="inputs form-control" ng-model="editEntry.button.link" placeholder="Link">
                                </div>
                                <br />

                                <!--
                                    Theme color 1 -
                                    Theme color 2 -
                                    logo, title, subtitle -

                                    Banner: {
                                        ad:
                                        image:
                                    }

                                    image 1
                                    image 2
                                    contact number
                                    geoloc. coords
                                    x
                                    y

                                    Button: {
                                        text:
                                        url:
                                    }
                                -->

                                <button style="width:100%" ng-click="submitEntry()" type="submit" class="btn btn-custom">Create Entry</button>
                              </form>

                        </div>
                    </div>


                    <div class="bottom-project-info clearfix">
                        <div class="project-progress sys_circle_progress" data-percent="87">
                            <div class="sys_holder_sector"></div>
                        </div>
                        <div class="group-fee clearfix">
                            <div class="fee-item">
                                <p class="rs lbl">Bankers</p>
                                <span class="val">270</span>
                            </div>
                            <div class="sep"></div>
                            <div class="fee-item">
                                <p class="rs lbl">Pledged</p>
                                <span class="val">$38,000</span>
                            </div>
                            <div class="sep"></div>
                            <div class="fee-item">
                                <p class="rs lbl">Days Left</p>
                                <span class="val">25</span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>


            </div>
        </div><!--end: .content -->




        <div class="sidebar grid_4">
          <div style="height:41px"></div>
            <div class="project-runtime">
                <div class="box-gray">
                  <h4 style="display:inline">New Entry</h4>
                </div>
            </div><!--end: .project-runtime -->



        </div><!--end: .sidebar -->


        <div class="clear"></div>
    </div>

	{{footer}}
</div>

</body>
</html>