<!DOCTYPE html>
<html>
<head>
	{{head}}

    <link rel="stylesheet" href="/site/css/bootstrap.css"/>
    <link rel="stylesheet" href="/site/css/datepicker.css"/>
    <link rel="stylesheet" href="/site/css/responsiveslides.css"/>

    <script type="text/javascript" src="/site/js/raphael-min.js"></script>
    <script type="text/javascript" src="/site/js/responsiveslides.min.js"></script>
    <script type="text/javascript" src="/site/js/pie.js"></script>
    <script type="text/javascript" src="/site/js/requestparser.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
 	<script type="text/javascript" src="/site/js/entryctr.js"></script>
    <script type="text/javascript" src="/site/js/bootstrap-datepicker.js"></script>
    
</head>


<body style="background:#f9f9f9">

<div id="wrapper" ng-app="EntryPage" ng-controller="EntryController" ng-init="init();">
	{{header}}

    <div class="layout-2cols">
        <div class="content grid_8">
            <div class="project-detail">
                <h2 class="rs project-title">Entry</h2>
                <div class="project-short big-thumb">

                    <div id="sessionscontent" class="top-project-info">
                        <h3>{{ editEntry.title }}</h3>
                        <div>

                            <form style="background-color:#999" id="image-form" action="" enctype="multipart/form-data" method="post">
                                <img src="/site/images/{{ editEntry.logo }}">
                                <br><br><br>
                            </form>

                                <div class="form-group">
                                  <span>Logo</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.logo" placeholder="logo ID" ng-click="clear('logo')">
                                </div>
                                
                                <br><br>
                            
                            <h3>General Info</h3>

                            <form style="margin-top:10px" role="form">
                                <div class="form-group">
                                  <span>Title</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.title" placeholder="Title">
                                </div>
                                <div class="form-group">
                                  <span>Subtitle</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.subtitle" placeholder="Subtitle" ng-click="clear('subtitle')">
                                </div>
                                <div class="form-group">
                                  <span>Category</span><br />
                                  <select ng-model="editEntry.category">
                                  	<option value="info">Info</option>
                                  	<option value="food">Food</option>
                                  	<option value="activities">Activities</option>
                                  	<option value="shopping">Shopping</option>
                                  </select>
                                  
                                </div>
                                
                                <div class="form-group">
                                  <span>Subcategory</span><br />
                                  <select ng-model="editEntry.subcategory">
                                  	<option ng-repeat="subcategory in currentSubcategories()" value="{{ subcategory }}">{{subcategory}}</option>
                                  </select>
                                  <br />
                                  <span>Current: {{editEntry.subcategory}}</span>
                                  <br /><br /><br />
                                </div>
                                
                                <div class="form-group">
                                  <span>Date</span>
                                  <input ng-change="dateSelected();" type="text" class="inputs form-control datepicker" id="datePicker" ng-model="editEntry.date" data-date-format="mm/dd/yyyy" placeholder="01/01/2013" bs-datepicker>
                                </div>
                                <div class="form-group">
                                  <span>Link</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.url" placeholder="http://www.example.com">
                                </div>
                                <div class="form-group">
                                  <span>Description</span>
                                  <textarea class="textareas form-control" ng-model="editEntry.description" placeholder="Description" rows="6" ng-click="clear('description')"></textarea>
                                </div>

                                <hr style="margin-top:25px;margin-bottom:10px" />
                                <h3>Location Info</h3>
                                
                                <div class="form-group">
                                  <span>Foursquare Id</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.foursquareId" placeholder="foursquare id" ng-click="clear('foursquareId')"><br />
                                  <a ng-click="updateWithFoursquare()" class="btn btn-custom">Update With Foursquare</a>
                                  <br /><br />
                                </div>
                                
                                <div class="form-group">
                                  <span>Street</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.street" placeholder="Broadway" ng-click="clear('street')">
                                </div>
                                <div class="form-group">
                                  <span>City</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.city" placeholder="Manhattan" ng-click="clear('city')">
                                </div>
                                <div class="form-group">
                                  <span>State</span><br>
                                  <select ng-model="editEntry.state">
                                  	<option value="AL">Alabama</option>
                                  	<option value="AK">Alaska</option>
                                  	<option value="AZ">Arizona</option>
                                  	<option value="AR">Arkansas</option>
                                  	<option value="CA">California</option>
                                  	<option value="CO">Colorado</option>
                                  	<option value="CT">Connecticut</option>
                                  	<option value="DE">Delaware</option>
                                  	<option value="DC">District Of Columbia</option>
                                  	<option value="FL">Florida</option>
                                  	<option value="GA">Georgia</option>
                                  	<option value="HI">Hawaii</option>
                                  	<option value="ID">Idaho</option>
                                  	<option value="IL">Illinois</option>
                                  	<option value="IN">Indiana</option>
                                  	<option value="IA">Iowa</option>
                                  	<option value="KS">Kansas</option>
                                  	<option value="KY">Kentucky</option>
                                  	<option value="LA">Louisiana</option>
                                  	<option value="ME">Maine</option>
                                  	<option value="MD">Maryland</option>
                                  	<option value="MA">Massachusetts</option>
                                  	<option value="MI">Michigan</option>
                                  	<option value="MN">Minnesota</option>
                                  	<option value="MS">Mississippi</option>
                                  	<option value="MO">Missouri</option>
                                  	<option value="MT">Montana</option>
                                  	<option value="NE">Nebraska</option>
                                  	<option value="NV">Nevada</option>
                                  	<option value="NH">New Hampshire</option>
                                  	<option value="NJ">New Jersey</option>
                                  	<option value="NM">New Mexico</option>
                                  	<option value="NY">New York</option>
                                  	<option value="NC">North Carolina</option>
                                  	<option value="ND">North Dakota</option>
                                  	<option value="OH">Ohio</option>
                                  	<option value="OK">Oklahoma</option>
                                  	<option value="OR">Oregon</option>
                                  	<option value="PA">Pennsylvania</option>
                                  	<option value="RI">Rhode Island</option>
                                  	<option value="SC">South Carolina</option>
                                  	<option value="SD">South Dakota</option>
                                  	<option value="TN">Tennessee</option>
                                  	<option value="TX">Texas</option>
                                  	<option value="UT">Utah</option>
                                  	<option value="VT">Vermont</option>
                                  	<option value="VA">Virginia</option>
                                  	<option value="WA">Washington</option>
                                  	<option value="WV">West Virginia</option>
                                  	<option value="WI">Wisconsin</option>
                                  	<option value="WY">Wyoming</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <span>Zip</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.zip" placeholder="00000">
                                </div>

                                <div class="form-group">
                                  <span>Geolocation Coordinates</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.x" placeholder="Latitude">
                                  <input type="text" class="inputs form-control" ng-model="editEntry.y" placeholder="Longitude">
                                </div>


                                <div class="form-group">
                                  <span>Contact Number</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.phone" placeholder="123-867-5309">
                                </div>

                                <div class="form-group">
                                  <span>Rating</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.rating" placeholder="0.0">
                                </div>

                                <div class="form-group">
                                  <span>Foursquare Genre</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.foursquareGenre" placeholder="Genre" ng-click="clear('foursquareGenre')">
                                </div>


                                <!-- Secondary URLs -->
                                <hr style="margin-top:25px;margin-bottom:10px" />
                                <div class="form-group">
                                    <h3>Content Info</h3>
                                    <h4>Button</h4>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Purpose</th>
                                                <th>URL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="purpose in purposeKeys()">
                                                <td>{{ purpose }}</td>
                                                <td>{{ editEntry.secondaryUrls[purpose] }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                    <div style="display:inline;float:left;max-width:40%">
                                      <span>Purpose</span><br>
                                      <select id="secondaryUrl-purpose"><!-- have to find a way to make this key the value of the option in angular -->
                                      	<option value="Menu">Menu</option>
                                      	<option value="Reservations">Reservations</option>
                                      	<option value="Gallery">Gallery</option>
                                        <option value="Buy Now">Buy Now</option>
                                        <option value="Book Now">Book Now</option>
                                        <option value="Schedule">Schedule</option>
                                        <option value="Check In">Check In</option>
                                        <option value="Rates">Rates</option>
                                        <option value="Map">Map</option>
                                        <option value="Directions">Directions</option>
                                        <option value="Reviews">Reviews</option>
                                        <option value="More Info">More Info</option>
                                      </select>
                                  </div>
                                  <div style="display:inline;float:left;max-width:100%;padding-left:15px">
                                      <span>URL</span>
                                      <input type="text" class="inputs form-control" placeholder="http://www.google.com" id="secondaryUrl-url">
                                  </div>
                                  <div style="display:inline;float:right;">
                                      <br>
                                      <a ng-click="addSecondaryUrl()" class="btn btn-custom">Add</a>
                                  </div>
                                </div>
                                
                                <br><br><br><br>
                                
                                <div class="form-group">
                                  <span>RSS</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.rss" placeholder="RSS" ng-click="clear('rss')">
                                </div>

                                <div class="form-group">
                                  <span>Background Image</span>
                                  <input type="text" class="inputs form-control" ng-model="editEntry.backgroundImage" placeholder="Background Image" ng-click="clear('backgroundImage')">
                                </div>

                                <div style="margin-top:25px;margin-bottom:25px" class="form-group">
                                  <span>Misc Images</span>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Remove</th>
                                                <th>Image</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="image in editEntry.miscImages track by $index">
                                                <td><a ng-click="removeMiscImage(image)" href="">x</a></td>
                                                <td><a target="_blank" href="/site/images/{{image}}">{{ image }}</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                  <input type="text" ng-model="currentMiscImage.id" class="inputs form-control" placeholder="Image ID"><br />
                                  <a ng-click="addMiscImage()" class="btn btn-custom">Add Misc Image</a>
                                </div>


                                <div class="form-group">
                                  <span>Template</span><br>
                                  <select ng-model="editEntry.template">
                                  	<option ng-repeat="template in templates" value="{{ template.id }}">{{ template.name }}</option>
                                  
                                  
<!--                                   	<option value="22948772">Museum / Gallery</option>
                                  	<option value="49306063">Restaurant / Cafe / Bar</option>
                                  	<option value="90521492">Tours</option>
                                  	<option value="21047529">Transport</option>
                                  	<option value="72314287">Store</option>
                                  	<option value="18099536">Events</option>
                                  	<option value="61331824">Flights</option>
                                  	<option value="15779283">Hotel</option>
                                  	<option value="94653714">Image / Map</option>
                                  	<option value="49270045">RSS</option>
                                  	<option value="12994587">Covered Image</option>
 -->                                  	
                                  </select>
                                </div>
                                <div class="form-group">
                                  <span>HTML 1</span>
                                  <textarea class="textareas form-control" ng-model="editEntry.html1" placeholder="HTML" rows="16"></textarea>
                                </div>
                                <div class="form-group">
                                  <span>HTML 2</span>
                                  <textarea class="textareas form-control" ng-model="editEntry.html2" placeholder="HTML" rows="16"></textarea>
                                </div>
                                <div class="form-group">
                                  <span>Custom CSS</span>
                                  <textarea class="textareas form-control" ng-model="editEntry.baseStyle" placeholder="Base CSS" rows="10"></textarea>
                                </div>

                                <br />

	                            <button style="width:100%" ng-click="viewPreview()" type="submit" class="btn btn-blue">View Preview</button>
	                            <br /><br /><br />
                                <button style="width:100%" ng-click="updateEntry()" type="submit" class="btn btn-custom">Update Entry</button>
	                            <br /><br /><br />
	                            <button style="width:100%" ng-click="deleteEntry()" type="submit" class="btn btn-custom">Delete Entry</button>

                              </form>

                        </div>
                    </div>


                    <div class="bottom-project-info clearfix">
                        <div class="project-progress sys_circle_progress" data-percent="87">
                            <div class="sys_holder_sector"></div>
                        </div>
                        <div class="group-fee clearfix">
                            <div class="fee-item">
                                <p class="rs lbl">Bankers</p>
                                <span class="val">270</span>
                            </div>
                            <div class="sep"></div>
                            <div class="fee-item">
                                <p class="rs lbl">Pledged</p>
                                <span class="val">$38,000</span>
                            </div>
                            <div class="sep"></div>
                            <div class="fee-item">
                                <p class="rs lbl">Days Left</p>
                                <span class="val">25</span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>


            </div>
        </div><!--end: .content -->




        <div class="sidebar grid_4">
          <div style="height:41px"></div>
            <div class="project-runtime">
                <div class="box-gray"></div>
            </div><!--end: .project-runtime -->



        </div><!--end: .sidebar -->


        <div class="clear"></div>
    </div>

	{{footer}}
</div>

<script>
$('#datePicker').datepicker();
</script>
</body>
</html>